@import "tailwindcss";

@theme {
  --color-background: #020617;
  /* slate-950 */
  --color-foreground: #f8fafc;
  /* slate-50 */
  --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

/* Custom Utilities */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Base Styles */
@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
  }
}